# Virtual environment
yolov8_env/
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
*.code-workspace

# Logs
*.log

# Model files / checkpoints
*.pt
*.pth
*.ckpt
*.onnx

# Data files (optional - ignore raw datasets if too big)
*.csv
*.npz
*.npy
*.pkl

# OS-specific files
.DS_Store
Thumbs.db
PlantVillage-Dataset
